.header {
  background-color: rgb(228, 222, 246);
  height: 63px;
}
.menu {
  background-color:   rgb(228, 222, 246);
}
.layout{
  min-height: calc(100vh - 63px);
}
.sideTree {
  background-color: rgb(172, 156, 219)!important;
}

.content {
  padding: 20px;
  background-color:  #ffffff;
  box-sizing: border-box;
}